<div style="margin-bottom: 200px;width:100%; margin-top:100px">
  <div
    class="container text-center text-light">
    <div class="container mb-5">
      <img
        src="https://i.ibb.co/LgKbxqg/manage-Users.png"
        alt="manage"
        style="width: 150px"
      />
      <h1 [routerLink]="['/manage/users']">Manage Users</h1>
    </div>
    <div class="container mb-5">
      <img
        src="https://i.ibb.co/M1K414y/manage-Products.png"
        alt="manage"
        style="width: 150px"
      />
      <h1 [routerLink]="['/manage/products']">
        Manage Products
      </h1>
    </div>
  </div>
</div>
