<div class="m-5">
  <div
    class="container  bg-white p-1"
    style="border-radius: 40px; box-shadow: 0 4px 20px 0 rgb(0, 238, 255), 0 9px 30px 0 rgb(0, 217, 255);"
  >
    <div class="ml-4 mt-2 p-1">
      <h4 style="float: left;">Available Supplements:</h4>
      <button
        class="btn btn-success mr-2"
        style="float: right;"
        [routerLink]="['/manage/products/add']"
      >
        <i class="fa fa-plus mr-2" aria-hidden="true"></i>Add New Product
      </button>
      <div style="clear: both;"></div>
    </div>

    <hr />
    <div *ngFor="let product of products" class="text-dark p-1 m-2">
      <app-product-managment-item
        [product]="product"
      ></app-product-managment-item>
    </div>
  </div>
</div>
