<div class="container my-5">
  <div class="row">
    <div class="col-sm-4 text-light"><h1>Edit Product</h1></div>
    <div class="col-sm-8">
      <div *ngIf="editForm.dirty" class="alert alert-info">
        <strong><i class="fa fa-info-circle"></i> Information:</strong> You have
        made changes. Any unsaved changes will be lost!
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img
          class="card-img-top img-thumbnail"
          src="{{ product.photoUrl }}"
          alt="{{ product.name }}"
        />
        <div class="card-body">
          <div>
            <h4 class="text-capitalize ">{{ product.name }}</h4>
            <p></p>
          </div>
          <div>
            <strong style="float: left;" class="mr-2">By: </strong>
            <p class="text-capitalize">{{ product.brand }}</p>
          </div>
          <div>
            <strong style="float: left;" class="mr-2">Price: </strong>
            <p>{{ product.price }} ₪</p>
          </div>
        </div>
        <div class="card-footer d-flex">
          <button
            [disabled]="!editForm.dirty"
            form="editForm"
            class="btn btn-success w-100"
          >
            <i class="fa fa-pencil-square-o mr-2"></i>Save Changes
          </button>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="tab-panel bg-white p-4">
        <tabset class="product-tabset">
          <tab heading="Edit Product Information">
            <form #editForm="ngForm" id="editForm" (ngSubmit)="updateProduct()">
              <h4>Description</h4>
              <textarea
                name="description"
                rows="6"
                class="form-control"
                [(ngModel)]="product.description"
              ></textarea>

              <h4>Suggested use</h4>
              <textarea
                name="suggestedUse"
                rows="6"
                class="form-control"
                [(ngModel)]="product.suggestedUse"
              ></textarea>
              <h4>Ingredients</h4>

              <textarea
                name="otherIngredients"
                rows="6"
                class="form-control"
                [(ngModel)]="product.otherIngredients"
              ></textarea>

              <h4>Warnings</h4>

              <textarea
                name="warnings"
                rows="6"
                class="form-control"
                [(ngModel)]="product.warnings"
              ></textarea>

              <h4>Product Name:</h4>
              <textarea
                name="name"
                rows="1"
                class="form-control"
                [(ngModel)]="product.name"
              ></textarea>
              <h4>Brand:</h4>
              <textarea
                name="brand"
                rows="1"
                class="form-control"
                [(ngModel)]="product.brand"
              ></textarea>
              <h4>Category:</h4>
              <textarea
                name="category"
                rows="1"
                class="form-control"
                [(ngModel)]="product.category"
              ></textarea>
              <h4>Price: (In NIS ₪)</h4>
              <input
                name="price"
                type="number"
                min="1"
                rows="1"
                class="form-control"
                [(ngModel)]="product.price"
              />
              <h4>Quantity:</h4>
              <input
                name="quantity"
                type="number"
                min="1"
                rows="1"
                class="form-control"
                [(ngModel)]="product.quantity"
              />
            </form>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
