<div
  class="card mb-4 bg-dark text-light"
  [routerLink]="['/supplements/', product.id]"
>
  <div class="card-img-wrapper p-4">
    <img
      class="card-ipg-top"
      src="{{ product.photoUrl }}"
      alt="{{ product.name }}"
      style="width: 100%; height:100%;"
    />

    <button
      *ngIf="!isManager()"
      (click)="addToCart()"
      class="btn btn-primary animate text-center cart-btn ml-3 mb-1"
      style="width:60%;"
    >
      <i class="fa fa-shopping-cart"></i> Add to cart
    </button>
  </div>
  <div class="card-body ">
    <h4
      class="card-title text-center  font-weight-light text-capitalize"
      style="font-weight: 300;"
    >
      {{ product.name }}
    </h4>
    <hr style="background-color: lightblue" />
    <p
      class="align-bottom text-center"
      style="font-size: 1.4rem; margin-bottom: 0;"
    >
      {{ product.price }} ₪
    </p>
  </div>
</div>
