<div class="my-5">
  <div class="container bg-light p-3 text-center" style="  box-shadow: 0 4px 20px 0 rgb(0, 238, 255), 0 9px 30px 0 rgb(0, 217, 255); border-radius:20px">
  <div class="text-dark lead my-4">
    <h1>Contact us</h1>
      <p><strong>Phone number:</strong> 0506868285 (Mohamad Anabtawe)</p>
      <p><strong>Email address:</strong> m.k.a.95@hotmail.com</p>
       <p><strong>Address:</strong> Bene Beitecha, Kafr Kanna, Israel</p>
    </div>
    <div class="container">
    <img
      class="card-ipg-top"
      src="https://i.ibb.co/x8Lj2Cr/address.jpg"
      alt="address"
      style="width:80%;"
    />

    </div>   
  </div>
</div>